html {
	box-sizing: border-box;
}

*, *:after, *:before {
	box-sizing: inherit;
}

body {
	opacity: 1;
	position: relative;
}

.slide {
	text-align: center;
	position: absolute;
	font-size: 100px;
	font-weight: bold;
	color: #ffffff;
	font-family: cursive;
	width: 100%;
	height: 1000px;
	opacity: 0;
	transition: opacity 1s;
	padding-top: 300px;

}


.current {
	z-index: 2;
	opacity: 1;
}